@import "tailwindcss";

@theme {
  /* 🎨 Paleta */
  --color-primary: #0C2C78;       /* Azul principal */
  --color-background: #E6E6E7;   /* Fondo base */
  --color-foreground: #000000;   /* Texto principal */
  --color-light: #FFFFFF;        /* Fondos suaves */

  /* 📱 Breakpoints opcionales */
  --breakpoint-xs: 350px;
}


html, body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
